html, body {
    font-size: 18px;
    background: #E8E8CC;
    color: #0B4619;
    font-family: 'Merriweather', serif;
}

hgroup {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    background: #FFCC1D;
    left: 0;
    top: 0;
    flex-direction: column;
    padding: 1em;
    color: #000000;
}

hgroup > * {
    width: 25em;
    padding: 1em;
    margin: 0 auto;
    text-align: center;
    margin: 0;
    padding: 0;
}

p {
    font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Oswald', sans-serif;
}
main {
    margin-top: 8em;
    text-align: center;
}
#main {
    max-width: 25em;
    padding: 1em;
    margin: 0 auto;
}

input {
    border: 0;
    border-bottom: 3px solid #116530;
    padding: 1em;
    margin: 0 2em;
    border-radius: 3px;
    font-size: .8em;
    font-family: 'Merriweather', serif;
}

input:focus {
    border: 0;
    border-bottom: 3px solid #FFCC1D;
    color: #000;
    padding: 1em;
    margin: 0 2em;
    border-radius: 3px;
    outline: 0;
}

input::placeholder {
color: #555;
}

input:focus::placeholder {
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: fit-content;
    justify-self: center;
    margin: 3em auto 0;
}

label {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 2em;
    align-items: center;
}

input[type=submit] {
    display: flex;
    align-self: center;
    padding: .75em 1.25em;
    border: 3px solid rgba(255, 255, 255, .2);
    background-color: #FFCC1D;
    font-size: 1.2em;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 2em;
    font-weight: bold;
    font-family: 'Oswald', serif;
}

input[type=submit]:hover,
input[type=submit]:focus {
    border: 3px solid rgba(0, 0, 0, .4);
}